<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mini Whatsapp</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>All Chats</h3>
    <div class="container">
    <form action="/chats/new" method="get">
        <button class="Addbutton">Add</button>
    </form>
   
    <% for(let chat of chats){ %>
        <div class="chat">
            <p>From: <%= chat.from %></p>
            <div class="msg">
                <p>Message: <%= chat.msg %></p>
                <form action="/chats/<%=chat._id%>/edit" method="get">
                    <button class="button">Edit</button>
                </form>
                <form action="/chats/<%=chat._id%>?_method=DELETE" method="post">
                    <br/>
                    <button class="button" id="deleteBtn">Delete</button>
                </form>
            </div>
            <p>Received By: <%= chat.to %></p>
           
        </div>
        
        <p><%= chat.created_at.toString().split(" ")[4] %>       
        <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
       
        <hr/>
   <% } %>
</div>
<script src="/script.js"></script>
</body>
</html>
